@model AppWeb.Models.Product
@{
    ViewBag.Title = "Edit Product";
}

    <head>
        <script type="text/javascript" src="../JsClientSide/Validations.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    </head>
<h2>Edit Product</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12" style="text-align:center;min-width:50%;max-width:100%; position:center">
            <div class="card">
                <div class="card-body text-center">
                    <form class="text-center p-5">
                        <div class="md-form mat-2">                          
                            <div class="text-left">
                                <h6>Code of product</h6>
                            </div>
                            @Html.TextBoxFor(model => model.ProductoId, new { @class = "form-control", @id = "idproducto", @readonly = "readonly" })
                        </div>
                        <br />
                        <div class="md-form mat-2">
                            <div class="text-left">
                               <h6>Code of category</h6>
                            </div>
                            @Html.TextBoxFor(model => model.CategoriaId, new { @class = "form-control", @id = "idcategoriatxt", @readonly = "readonly" })
                        </div>
                        <br />
                        <div class="md-form mat-2">
                            <div class="text-left">
                                <h6>Name</h6>
                            </div>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "nombretxt" })
                        </div>
                        <br />
                        <div class="md-form mat-2">
                            <div class="text-left">
                                <h6>Price</h6>
                            </div>
                            
                            @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", @id = "preciotxt" })
                        </div>
                        <br />
                        <div class="md-form mat-2">
                            <div class="text-left">
                                <h6>Category</h6>
                            </div>
                            
                            @Html.TextBoxFor(model => model.Categoria, new { @class = "form-control", @id = "categoriatxt", @readonly = "readonly" })
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="text-left">
                                <h6>Select new category</h6>
                            </div>                           
                            @Html.DropDownList("category", ViewBag.categ as List<SelectListItem>, "Select Category", new { @class = "form-control", @id = "listview" })

                        </div>
                        <br />
                        <div>
                            <div class="text-right">
                                <a class="btn btn-outline-primary" href="@Url.Action("Index", "Product")" style="width:150px">

                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M7.854 11.354a.5.5 0 0 0 0-.708L5.207 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0 0 1h9A.5.5 0 0 0 15 8z" />
                                        <path fill-rule="evenodd" d="M2.5 14.5A1.5 1.5 0 0 1 1 13V3a1.5 1.5 0 0 1 1.5-1.5h8A1.5 1.5 0 0 1 12 3v1.5a.5.5 0 0 1-1 0V3a.5.5 0 0 0-.5-.5h-8A.5.5 0 0 0 2 3v10a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V13a1.5 1.5 0 0 1-1.5 1.5h-8z" />
                                    </svg>
                                    Back
                                </a>
                                <input onclick="RequestForEditProduct()" class="btn btn-outline-success btn-group-lg my-4" style="width:150px" value="Save" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

