@model List<AppWeb.Models.Product>
@{
    ViewBag.Title = "Products";
}

<h2>Productos</h2>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>

@Html.ActionLink("Create", "NewProduct")
<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Products
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {

            <tbody>
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Precio
                    </td>
                    <td>
                        @item.Categoria
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.ProductoId })
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductoId })
                    </td>
                </tr>
            </tbody>


        }

    </table>

    </div>

