@model List<AppWeb.Models.Product>
@{
    ViewBag.Title = "Products";
}

<h2>Productos</h2>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>

@Html.ActionLink("Create", "NewProduct")
<div>
    @foreach (var item in Model)
    {
        if (item == null)
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>No Elements</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Category
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditProduct", new { id = item.IDproduct })
                            @Html.ActionLink("Delete", "DeleteProduct", new { id = item.IDproduct })
                        </td>
                    </tr>
                </tbody>
            </table>
        }

    }


</div>

