@model List<AppWeb.Models.Product>
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="../JsClientSide/Validations.js"></script>

</head>

<div class="text-right">
    <a class="btn btn-outline-success" href="@Url.Action("NewProduct","Product")" style="width:150px">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        </svg>
        Create new
    </a>
</div>
<br />

<div style="display:flex; justify-content:space-between; flex-direction:row; flex-wrap:wrap; justify-self:self-start;">
    @if (Model == null || Model.Count == 0)
    {
        <div class="text-center">
            <h3>No items</h3>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="card border-primary mb-3 text-center" style="width:350px;">
                <div class="card-body"><h5>@item.NameProduct</h5></div>
                <div class="card-body">
                    <p class="card-text">Category of this product</p>
                    <p class="card-text">@item.CategoryName</p>
                    <p class="card-text">Quantity</p>
                    <h3 class="card-text">@item.Stock</h3>
                </div>
                <div class="card-footer">
                    <h3>Price: $@item.PriceProduct</h3>
                    <div class="text-right">
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.IDProduct }, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.IDProduct }, new { @class = "btn btn-outline-danger" })
                    </div>
                </div>
            </div>
        }
    }

</div>