@model List<AppWeb.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Profile</h2>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <br />
    @foreach (var item in Model)
    {

        <div class="jumbotron text-center" style="background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); ">
            <h2>@item.Usuario</h2>
        </div>
         <div class="card-header">
                    <h6>@item.Nombre @item.Apellido</h6>   
         </div>
         <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-title">@item.Rol</p>
                    <div class="text-right">
                        @Html.ActionLink("Edit", "EditUser", new { model = item.UserId }, new { @class = "btn btn-outline-primary" })
                    </div>
         </div>

    }

</body>


