@model AppWeb.Models.User
@{
    ViewBag.Title = "EditUser";
}

<h2>Edit User</h2>

@using (Html.BeginForm())
{


    <fieldset>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId, new
       { disabled = "disabled", @readonly = "readonly" })
        </div>
         <div class="editor-field">
            @Html.LabelFor(model => model.Nombre)
        </div>
         <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
        </div>
          <div class="editor-field">
            @Html.LabelFor(model => model.Apellido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido)
        </div>
          <div class="editor-field">
            @Html.LabelFor(model => model.Clave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Clave)
        </div>
          <div class="editor-field">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>

    </fieldset>

}


