@model List<AppWeb.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>

<div>
    <table class="table table-bordered">
        <tr>
            <th>
                User
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre
                    @item.Apellido
                    @item.Usuario
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { iduser = item.UserId })
                    @Html.ActionLink("Delete", "DeleteUser", new { iduser = item.UserId })
                    @Html.ActionLink("View", "ViewUser", new { iduser = item.UserId })
                </td>
            </tr>
        }
    </table>

    </div>


