@model AppWeb.Models.User
@{
    ViewBag.Title = "ViewUser";
}

<h2>Profile</h2>
<fieldset>
    <div class="editor-field">
        @Html.LabelFor(model => model.name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.name)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.lastname)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.lastname)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.password)
    </div>
    <div class="editor-field">
        @Html.LabelFor(model => model.username)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.username)
    </div>
</fieldset>

