@model List<AppWeb.Models.Category>
@{
    ViewBag.Title = "Category";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<h2>Categorias</h2>

<div class="text-right">
    <a class="btn btn-outline-success" href="@Url.Action("Index", "CreateCategory")" style="width:150px">Create new</a>
</div>
<br />

<div>
    <div class="card deck light mb-3">
        <div class="card">
            @foreach (var item in Model)
            {
                <div class="card-header">
                    <h6>@item.Categoria</h6>                   
                </div>
                <div class="card-body">
                    <h5 class="card-title">Descripcion</h5>
                    <p class="card-title">@item.Descripcion</p>
                    <div class="text-right">
                        @Html.ActionLink("Edit", "EditCategory", new { model = item.CategoriaId }, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Delete", "DeleteCategory", new { model = item.Categoria }, new { @class = "btn btn-outline-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
